@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Charmonman');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}
:root {
    --main_color: #252525;
    --secondary_color: white;
    --terciary_color: #735F32;
    --cuaternary_color: #C69749;
}

header {
    position:fixed;
    display:flex;
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.header-negro {
    background-color: var(--main_color);
}

.header-blanco {
    background-color: var(--secondary_color);
}

.logo-section {
    width:200px;
    height:200px;
    position:relative;
}

.logo-negro {
    width:200px;
    height:200px;
}

.logo-blanco {
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    z-index:-2;
}

.logo-negro-unactive {
    z-index:-3;
}

body {
    display:flex;
    flex-direction: row-reverse;
}

.navbar {
    margin-top: 200px;
    background-color: var(--main_color);
    font-style: none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:calc(100vh - 200px);
    font-family: 'Roboto';
    position:fixed;
    left:-30vw;
    width:30vw;
    z-index:100;
    transition: left .4s ease-in;
}

.navbar_blanca {
    background-color: var(--secondary_color);
}



.texto-negro {
    color:var(--main_color);
}

.texto-blanco {
    color:var(--secondary_color);
}

.navbar.navbar_blanca .nav-link:hover {
    color: var(--secondary_color);
}

.navbar-active {
    left:0;
}

#hamburguesa {
    width:40px;
    height:40px;
    position:absolute;
    top:0;
    right:-60px;
    z-index: 10;
    background-color: transparent;
    border: none;
}

#hamburguesa > svg {
    width:100%;
    height: 100%;
}

.hamburguesa-blanca-unactive {
    display:none;
}

.hamburguesa-blanca-active {
    color:var(--secondary_color);
}

.cruz-blanca-unactive {
    position:absolute;
    left: 0;
    top:0;
    display:none;
}

.cruz-blanca-active {
    display:block;
    color: var(--secondary_color);
}

.cruz-negra {
    color: var(--main_color);
}

.hamburguesa-negra {
    color: var(--main_color);
}


.nav-link {
    height: calc((100vh - 200px)/4);
    width:30vw;
    display:grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    position:relative;
    z-index:1;
    overflow: hidden;
    border-bottom: 1px solid grey;
}



.nav-link::after {
    position:absolute;
    display:block;
    right:-100%;
    bottom:0;
    content:'';
    width: 100%;
    height:100%;
    background-color: #C69749;
    transition: all .2s ease-in-out;
    z-index:-1;
}

.nav-link:hover::after {
    right:0;
}

.nav-link:hover { 
    color:var(--main_color);
    cursor: pointer;
}

#inner-page-wrapper {
    position:relative;
    height:calc(100vh - 200px);
    margin-top:200px;
    background-color: var(--main_color);
    display:flex;
    flex-direction: column;
    overflow: hidden; 
    transition: all .4s ease-in;
    
}

.full-screen {
    width:100vw;
}

.notfull {
    width:70vw;
}


#home {
    position: absolute;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--main_color);
    color: var(--secondary_color);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nombre {
    margin-top:80px;
    display:flex;
    justify-content: center;
    width:90%;
    height:100px;
    font-size: 4.1rem;
    text-align: center;
}

.vissible-window {
    display:flex;
    width:400px;
    height:70px;
    justify-content:center;
    position:relative;  
}

.profesion {
    position: absolute;
    display:block;
    width:max-content;
    height:100%;
    font-size:3.2rem;
    color: var(--cuaternary_color);
    font-weight:bold;
    animation: out 10s linear infinite;    
}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin-bottom:auto;
    margin-top:auto;
    flex-wrap: wrap;
    
}

.wrapper .icon {
    position: relative;
    background: var(--secondary_color);
    border-radius: 50%;
    color: var(--main_color);
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s linear;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    background: var(--secondary_color);
    color: var(--secondary_color);
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--secondary_color);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #3b5998;
    color: var(--secondary_color);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: var(--secondary_color);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #c32aa3;
    color: var(--secondary_color);;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #ff0000;
    color: var(--secondary_color);
}

#portfolio {
    position: absolute;
    bottom:-100%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--secondary_color);
}

#skills {
    position: absolute;
    bottom:-200%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--main_color);
    display:flex;
}

#projects {
    position: absolute;
    bottom:-300%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--secondary_color);
    display:flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    height: 80%;
    width: 80%;
}

.swiper-wrapper1 {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
}

.project {
    width:33.33%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.project img {
    width:50px;
}

.project p {
    text-align: center;
}

.visitar-button {
    width:80px;
    height:30px;
    border-radius: 25px;
    background-color: var(--cuaternary_color);
    color:white;
    text-transform: capitalize;
}

@media (max-width: 920px) {
    /*#header {
        display:none;
    } */
    
    .navbar {
        width:100vw;
        left:-100%;
    }
    .navbar-active {
        left:0;
    } 
    .nombre {
        font-size: 3rem;
    }

    .navbar.navbar-active #hamburguesa {
        top:-60px;
        right:10px;;
    }
    .notfull{
        width:100vw;
    }
    .nav-link {
        width:100vw;
    } 

    .profesion {
        font-size: 2.3rem;
        margin-top:10px;
    }

    .swiper-wrapper1 {
        flex-direction: column;

    }

    .project {
        flex-direction: row;
        width: 90%;
        padding:0;
    }
    .project p {
        display:none;
    } 
} 
