@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Charmonman');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}
:root {
    --main_color: #252525;
    --secondary_color: white;
    --terciary_color: #735F32;
    --cuaternary_color: #C69749;
}

header {
    position:fixed;
    display:flex;
    height:200px;
    width:100%;
    justify-content: center;
    align-items: center;
}

.header-negro {
    background-color: var(--main_color);
}

.header-blanco {
    background-color: var(--secondary_color);
}

.logo-section {
    width:200px;
    height:200px;
    position:relative;
}

.logo-negro {
    width:200px;
    height:200px;
}

.logo-blanco {
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    z-index:-2;
}

.logo-negro-unactive {
    z-index:-3;
}

body {
    display:flex;
    flex-direction: row-reverse;
}

.navbar {
    margin-top: 200px;
    background-color: var(--main_color);
    font-style: none;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:calc(100vh - 200px);
    font-family: 'Roboto';
    position:fixed;
    left:-30vw;
    width:30vw;
    z-index:100;
    transition: left .4s ease-in;
}

.navbar_blanca {
    background-color: var(--secondary_color);
}



.texto-negro {
    color:var(--main_color);
}

.texto-blanco {
    color:var(--secondary_color);
}

.navbar.navbar_blanca .nav-link:hover {
    color: var(--secondary_color);
}

.navbar-active {
    left:0;
}

#hamburguesa {
    width:40px;
    height:40px;
    position:absolute;
    top:0;
    right:-60px;
    z-index: 10;
    background-color: transparent;
    border: none;
}

#hamburguesa > svg {
    width:100%;
    height: 100%;
}

.hamburguesa-blanca-unactive {
    display:none;
}

.hamburguesa-blanca-active {
    color:var(--secondary_color);
}

.cruz-blanca-unactive {
    position:absolute;
    left: 0;
    top:0;
    display:none;
}

.cruz-blanca-active {
    display:block;
    color: var(--secondary_color);
}

.cruz-negra {
    color: var(--main_color);
}

.hamburguesa-negra {
    color: var(--main_color);
}


.nav-link {
    height: calc((100vh - 200px)/4);
    width:30vw;
    display:grid;
    place-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    position:relative;
    z-index:1;
    overflow: hidden;
    border-bottom: 1px solid grey;
}



.nav-link::after {
    position:absolute;
    display:block;
    right:-100%;
    bottom:0;
    content:'';
    width: 100%;
    height:100%;
    background-color: #C69749;
    transition: all .2s ease-in-out;
    z-index:-1;
}

.nav-link:hover::after {
    right:0;
}

.nav-link:hover { 
    color:var(--main_color);
    cursor: pointer;
}

#inner-page-wrapper {
    position:relative;
    height:calc(100vh - 200px);
    margin-top:200px;
    background-color: var(--main_color);
    display:flex;
    flex-direction: column;
    overflow: hidden; 
    transition: all .4s ease-in;
    
}

.full-screen {
    width:100vw;
}

.notfull {
    width:70vw;
}


#home {
    position: absolute;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--main_color);
    color: var(--secondary_color);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nombre {
    margin-top:80px;
    display:flex;
    justify-content: center;
    width:90%;
    height:4.1rem;
    font-size: 4.1rem;
    text-align: center;
    overflow: hidden;
}

.vissible-window {
    display:flex;
    width:400px;
    height:70px;
    justify-content:center;
    position:relative;  
}

.profesion {
    position: absolute;
    display:block;
    width:max-content;
    height:100%;
    font-size:3.2rem;
    color: var(--cuaternary_color);
    font-weight:bold;
    animation: out 10s linear infinite;    
}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin-bottom:auto;
    margin-top:auto;
    flex-wrap: wrap;
    
}

.wrapper .icon {
    position: relative;
    background: var(--secondary_color);
    border-radius: 50%;
    color: var(--main_color);
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s linear;
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 1.2rem;
    background: var(--secondary_color);
    color: var(--secondary_color);
    padding: 5px 8px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: var(--secondary_color);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
    background: #3b5998;
    color: var(--secondary_color);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: var(--secondary_color);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #c32aa3;
    color: var(--secondary_color);;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
    background: #ff0000;
    color: var(--secondary_color);
}

#portfolio {
    position: absolute;
    bottom:-100%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--secondary_color);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

#peace-wrapper {
    grid-row: 2/3;
    display:grid;
    place-items: center; 
}

#wrapper {
    width: min(100%,700px);
    position: relative;
    height:100%;
  }
  
  #wrapper > .shape {
    height: 30%;
    width: 30%;
    background-color: rgba(255 255 255 / 5%);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
  }
  
  #wrapper > .shape:nth-child(1) {
    background-color: #eb6f1f;
    z-index: 2;
  }
  
  #wrapper > .shape:nth-child(2) {
    background-color: #c13b33;
    z-index: 2;
  }
  
  #wrapper > .shape:nth-child(3) {
    background-color: #ffc63d;
    z-index: 1;
  }
  
  #wrapper > .shape:nth-child(4) {
    background-color: #259569;
    z-index: 2;
  }
  
  #wrapper > .shape:nth-child(5) {
    background-color: #096d74;
    z-index: 2;
  }
  
  #wrapper > .shape:nth-child(6) {
    background-color: #a083d2;
    z-index: 2;
  }
  
  #wrapper > .shape:nth-child(7) {
    background-color: #465b65;
    z-index: 2;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(1) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(2) {  
    left: 20%;
    top: 0%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 50%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(4) {  
    left: 0%;
    top: 50%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(5) {  
    left: 30%;
    top: 50%;
    height: 50%;
    width: 20%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(6) {  
    left: 70%;
    top: 50%;
    height: 50%;
    width: 30%;
  }
  
  #wrapper[data-configuration="1"] > .shape:nth-child(7) {  
    left: 85%;
    top: 75%;
    height: 25%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(1) {
    left: 25%;
    top: 20%;
    height: 80%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(2) {  
    left: 40%;
    top: 20%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(3) {  
    left: 50%;
    top: 0%;
    height: 100%;
    width: 25%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(4) {  
    left: 0%;
    top: 0%;
    height: 50%;
    width: 10%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(5) {  
    left: 10%;
    top: 0%;
    height: 70%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(6) {  
    left: 75%;
    top: 10%;
    height: 80%;
    width: 15%;
  }
  
  #wrapper[data-configuration="2"] > .shape:nth-child(7) {  
    left: 90%;
    top: 40%;
    height: 60%;
    width: 10%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(1) {
    left: 0%;
    top: 16.5%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(2) {  
    left: 20%;
    top: 2.7%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(3) {  
    left: 38%;
    top: 0%;
    height: 100%;
    width: 62%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(4) {  
    left: 0%;
    top: 47.3%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(5) {   
    left: 34%;
    top: 56.4%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(6) {  
    left: 66%;
    top: 45%;
    height: 55%;
    width: 34%;
  }
  
  #wrapper[data-configuration="3"] > .shape:nth-child(7) {  
    left: 80%;
    top: 68%;
    height: 32%;
    width: 20%;
  }
  
  #wrapper[data-roundness="1"] > .shape {   
    border-radius: 6rem; 
  }
  
  #wrapper[data-roundness="2"] > .shape {  
    border-radius: 0rem;
  }
  
  #wrapper[data-roundness="3"] > .shape {  
    border-radius: 30rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(1) {  
    border-bottom-left-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(2) {  
    border-radius: 20rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(3) {  
    border-top-right-radius: 12rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(4) {  
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(5) {  
    border-bottom-left-radius: 10rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(6) {  
    border-top-left-radius: 16rem;
  }
  
  #wrapper[data-roundness="4"] > .shape:nth-child(7) {  
    border-top-left-radius: 10rem;
  }
#skills {
    position: absolute;
    bottom:-200%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--main_color);
    display:flex;
}

#projects {
    position: absolute;
    bottom:-300%;
    height:calc(100vh - 200px);
    width:100%;
    background-color: var(--secondary_color);
    display:flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    height: 80%;
    width: 80%;
}

.swiper-wrapper1 {
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
}

.project {
    width:33.33%;
    height:80%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.project img {
    width:50px;
}

.project p {
    text-align: center;
}

.visitar-button {
    width:80px;
    height:30px;
    border-radius: 25px;
    background-color: var(--cuaternary_color);
    color:white;
}

@media (max-width: 920px) {
    /*#header {
        display:none;
    } */
    
    .navbar {
        width:100vw;
        left:-100%;
    }
    .navbar-active {
        left:0;
    } 
    .nombre {
        font-size: 3rem;
        height: 3rem;
        margin-top:50px;
    }

    .navbar.navbar-active #hamburguesa {
        top:-60px;
        right:10px;
    }
    .notfull{
        width:100vw;
    }
    .nav-link {
        width:100vw;
    } 

    .profesion {
        font-size: 2.3rem;
        margin-top:10px;
    }

    .swiper-wrapper1 {
        flex-direction: column;

    }

    .project {
        flex-direction: row;
        width: 90%;
        padding:0;
    }
    .project p {
        display:none;
    } 
} 
