* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    scroll-behavior: smooth;
}



header {
    background-color: #A8D8EA;
    display:flex;
    height:70px;
    justify-content: center;
    align-items:center;
    z-index:-1;
}
.titulo {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 20px 10px;
    width: 50px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.647);
    box-shadow: 0px 1px 2px 2px black;
    z-index: 3;
    
}


.menu {
    width:50px;
    height: 50px;
    border-radius:30px;
    display: flex;
    
}

.menu:hover {
    transition: .4s linear;
    cursor: pointer;
    transform: rotate(180deg);
}

.desplegable:hover {
    cursor: pointer;
}

.menu:hover div:first-child {
    transform: rotate(45deg);

}

.menu:hover div:nth-child(2) {
    opacity:0;
}

.menu:hover div:last-child{
    transform: rotate(-45deg);
    

}


.desplegable {
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .4rem;

}

.desplegable > div {
    background: white;
    height: 2px;
    width: 25px;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

#nav-bar {
    position: fixed;
    display: none;
    flex-direction: column;
    align-self:flex-start;
    width: 100%;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.373);
    justify-content: space-around;
    align-items: center;
    z-index:2;
    
}


.container-links-page:first-child {
    margin-top: 100px;
}
.container-links-page{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 30px;
    text-decoration: none;
    color: #F38181;
    font-weight: bold;
}

.container-links-page:nth-child(odd)::after {
    content: "";
    width:100%;
    height:100%;
    z-index: -1;
    text-align: center;
    background-color: #3e6d9c92;
    position:absolute;
    z-index: -1;
    display:block;
    left: -100%;
    right: 100%;
    top: 0;
    bottom: 0;
    transition: all .5s smooth;

}
.container-links-page:nth-child(even)::after {
    content:"";
    width:100%;
    height:100%;
    z-index: -1;
    text-align: center;
    background-color: #e14c2a7c;
    position:absolute;
    z-index: -1;
    display:block;
    left: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    transition: all .5s smooth;
    

}
.container-links-page:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    cursor:pointer;

  }

.container-links-page:nth-child(even):hover {
    color:white;
}

.salir {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}


.salir:hover {
    transform: scale(1.3);
    transition: .8s smooth;
    cursor: pointer;
}



.page__distribution {
    display:grid;
    background-image: url("img/intro.jpg");
    height:200vh;
    grid-template-rows:  repeat(2,1fr);
    background-size: cover;
    margin-top: -70px;
    
}

.intro__page {
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
    
}

#about__me {
}
.nombre {
    font-size: 400%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid white;
    text-align: center;
}

.profesion {
    font-size: 250%;
    font-weight: bold; 
    color: #FCE38A;
    animation-duration: 2s;
    animation-name: slidein;
    text-align: center;
}

@keyframes slidein {
    from {
      margin-left:100%;
      width:100%;
    }
  
    to {
        
        width: 100%;
    }
  }

.bottom_main {
    display: flex;
    flex-grow:1;
    align-items: flex-end;
    justify-content: center;
}





.pie {
    position:static;
    width:100%;
    height: 50px;
    background-color:#F38181;
    opacity:100;
    position:absolute;
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.boton_github {
    margin-right: 15px;
    border-radius: 30px;
    display:flex;
    align-items: center;
    position:relative;
    background-color: #F38181;
    border: none;
}

.github {
    width: 20px;
    height: 20px;
}




.boton_github:hover {
    padding-left: 5px;
    width: 30px;
    height: 30px;
    transition: .3s linear;
    background-color: #FCE38A;
    cursor: pointer;
    box-shadow: 0px 4px 2px 0px;
}

.boton_twitter {
    margin-right: 15px;
    border-radius: 30px;
    display:flex;
    align-items: center;
    position:relative;
    background-color: #F38181;
    border: none;
}

.twitter {
    width: 20px;
    height: 20px;
}

.boton_twitter:hover {
    padding-left: 5px;
    width: 30px;
    height: 30px;
    transition: .3s linear;
    background-color: #00acee;
    cursor: pointer;
    box-shadow: 0px 4px 2px 0px;
}

.contacto {
    width:100%;
    align-self:center;

}

.nomoverse {
    width:50px;
}

.submarino {
    width: 50px;
    height: 50px;
    margin-left: 40vh;
    margin-top: 60px;
    animation-duration: 2s;
    animation-name: submarine;
}

@keyframes submarine {
    from {
        margin-left:5vh;
    }
    to {}
}




